/****************************
table of contents
**************************************************/

/* 1 ===>  left-section, ===> botton */
/* 2 ===>  right-section ==> cards */
/**3 ===> @media qury *****/




main.flex {
    gap: 2.9rem;
    align-items: start;
}



/* 1 ===>  left-section, ===> botton *********************************************************************/

main section.left-section.flex {
    flex-direction: column;
    gap: 11px;

}

main section.left-section.flex button {
    background-color: rgba(36, 37, 46, 1);
    width: 11rem;
    padding: 0.75rem 0;
    text-align: center;
    font-size: 1.05rem;
    text-transform: capitalize;
    opacity: 0.5;
    border-radius: 5px;
    transition: 0.3s;
}

main section.left-section.flex button:hover {
    opacity: 1;
}

main section.left-section.flex button.active {
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.6px;
    padding: 0.8rem 0;
    border: 1px solid var(--bleu);

}

.light main section.left-section.flex button.active {
    border: 1px solid #000;
}

.light .card, .light .card:hover {
    border: none;
}








/* 2 ===>  right-section ==> cards ****************************************************************************/



main section.right-section.flex {
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    column-gap: 16px;
    row-gap: 2rem;
}


.card {
    border: 1px solid rgba(93, 188, 252, 0.3);
    border-radius: 5px;
    transition: 0.3s;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.05));
}

.card:hover {
    background-color: rgba(63, 49, 49, 0.2);
    border: 1px solid var(--bleu);
    rotate: 1deg;
    scale: 1.01;
    cursor: pointer;
}

.card img {
    border-radius: 5px;

}

main article.card a {
    color: #fff;
}

main article.card span {
    color: #fff;
}

.card .box {
    padding: 1rem 0.4rem;
}

.card .box .title {
    color: var(--title);
    text-transform: capitalize;
}

.card .box .sub-title {
    color: var(--subtitle);
    font-size: 0.8rem;
    margin-top: 0.7rem;
    margin-bottom: 1.1rem;
    width: 255px;
}

.card .box .icons {
    justify-content: space-between;
}

.card .icon-link,
.card .icon-github {
    font-size: 1.2rem;
    color: var(--subtitle);
}

.card .icon-link:hover,
.card .icon-github:hover {
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--iconhover);
}

.card a.link {
    font-size: 0.9rem;
    color: var(--bleu);
    margin-right: 12px;
}









/************************** 3 ==> @media qury **********************************************************/


@media (max-width: 600px) {
    main.flex {
        flex-direction: column;
        gap: 2.64rem;
        align-items: center;

    }

    main section.left-section.flex {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;

    }

    main section.left-section.flex button {
        width: 7rem;
        padding: 0.8rem 0;

        font-size: 0.9rem;

    }
}