/****************************
table of contents
**************************************************/

/* 1 ===>  h1 & paragraphe & form */
/* 2 ===>  right-section ==> cards */

section.contact-us .icon-mail {
    color: var(--sub-title);
    margin-right: 1rem;

}

section.contact-us .title {
    font-size: 2.1rem;
    color: var(--title);
    margin-bottom: 1rem;

}

section.contact-us .sub-title {
    color: var(--sub-title);
    margin-bottom: 3rem;
    line-height: 1.65rem;

}

section.contact-us label {
    color: var(--sub-title);
}

.light section.contact-us label {
    color: rgb(14, 5, 5);
}

section.contact-us #email,
section.contact-us #message {
    all: inherit;
    background-color: rgba(63, 63, 70, 0.15);
    border: rgb(63, 63, 70);
    width: 16rem;
    padding: 0.5rem 1rem;
    margin-left: 12px;
    border-radius: 5px;
}

section.contact-us #email:focus,
section.contact-us #message:focus,
section.contact-us #email:hover,
section.contact-us #message:hover {
    border: 1px solid rgb(45 212 191);

}

.light .contact-us #email:focus,
.light section.contact-us #message:focus,
.light section.contact-us #email:hover,
.light section.contact-us #message:hover {
    border: 1px solid rgb(21, 24, 24);

}

.light section.contact-us #email,
.light section.contact-us #message {
    background-color: rgba(255, 255, 255, 0.162);
    border: rgba(128, 128, 128, 0.451);
    color: #fff;
}



section.contact-us #message {
    min-height: 9rem;
    resize: vertical;

}

section.contact-us .submit {
    background-color: rgba(36, 37, 46, 1);
    padding: 0.75rem 2rem;
    text-align: center;
    font-size: 1.05rem;
    text-transform: capitalize;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 1.8rem;
    border: 1px solid rgb(63, 63, 70);


}

section.contact-us .submit:hover {
    scale: 0.97rem;
}

/* 1 ===>  h1 & paragraphe & form */









/* 2 ===>  image message & animation */
















/************************** 3 ==> @media qury **********************************************************/


@media (max-width: 600px) {
    .animation {
        display: none;
    }

    .animation {
        display: none;
    }

    section.contact-us form {
        display: flex;
        flex-direction: column;
        width: 85%;

    }

    section.contact-us form div.flex {
        flex-direction: column;
        align-items: start;
    }

    section.contact-us #email,
    section.contact-us #message {
        width: 100%;
        margin-left: 0;
        padding: 0.7rem 0;
        margin-top: 1rem;
    }

    section.contact-us .submit {
        width: 30%;
        align-self: center;
    }
}

@media (max-width: 1100px) {

    section.contact-us .contactanimation {
        display: none;
    }


}