@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #000;
  --secandary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);

  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);

  --bgHeader: rgb(39, 39, 42);
  --bleu: rgb(93, 188, 252);
  --iconhover: #d4d4d8;

  --containerpadding:4.8rem ;
}

.light {
  --primary: rgb(250, 250, 250);
  --secandary: rgb(255, 255, 255);

  --border: rgba(202, 202, 202, 0.518);

  --title: rgb(39 39 42);
  --subtitle: rgb(82 82 91);

   --bgHeader: rgb(253, 253, 253);
  --bleu: rgb(0, 149, 246);
  --iconhover: #333;
}


body {
  background-color: var(--primary);
  color: #fff;
}

.container {
  border: 2px solid var(--border);
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secandary);
  padding: 0 var(--containerpadding);
}

.divider {
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;

  width: calc(100% + var(--containerpadding) + var(--containerpadding));
  margin-left: calc(var(--containerpadding)*-1);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
  transition: 0.2s;
}

.flex {
  display: flex;
  align-items: center;
}

button {
  all: unset;
  background-color: rgb(8, 8, 8);
}

a {
  cursor: pointer;
  color: #fff;
}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.9;
}

button:disabled{
  opacity: 0.4;
  cursor: not-allowed;
}


.border {
  border: 1px solid red;
}
/*********************************** scrollbar ***********************************/

/* ::-webkit-scrollbar {
  width: 0.88rem;
 }
 
::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background-color: #d4d4d8;
  }
 
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 2px;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
 
/* for Firefox */
 /* html {scrollbar-color: #9e4673 #3d4a59;}  */















.scrolalltoup{
  background-color: rgba(25, 118, 210, 0.85);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  text-align: center;
  border: 1px solid #fff;
}
.scrolalltoup:hover{
background-color: rgba(7, 41, 194, 0.2) 

}
.icon-keyboard_arrow_up{
  font-size: 1.2rem;
}

@media (max-width: 1000px) {
  .container {
  --containerpadding: 1.7rem ;

    width: 90%;
    padding: 0 var(--containerpadding);
  }

  .divider {


    width: calc(100% + var(--containerpadding) + var(--containerpadding));
    margin-left: calc(var(--containerpadding)*-1);
  }
}
@media (max-width: 600px) {
  .container {
    width: 98%;
    padding: 0 var(--containerpadding);
  }
  .scrolalltoup{
    width: 2.2rem;
    height: 2.2rem;
    opacity: 0.6;
  }
}
